.sidebarOption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
}

.sidebarOption:hover {
    background-color: #350D36;
}

.sidebarOption__left {
    display: flex;
    
}

.sidebarOption__left > .MuiSvgIcon-root {
    font-size: 16px;
}

.sidebarOption__left  > .sidebarOption__subIcon {
    font-size: 14px !important;
    margin-left: 12px !important;
}

.sidebarOption__left  > h4 {
    font-size: 14px;
}

.sidebarOption__left  > h5 {
    font-size: 12px;
}

.sidebarOption__left  > h4 {
    margin-left: 8px;
}

.sidebarsidebarOption__left > h5 {
    margin-left: 8px;
}