.sidebar {
    background-color: rgb(72, 20, 73);
    flex: 0.2;
}

.sidebar__header {
    display: flex;
    align-items: center;
    padding: 13px 16px;
}

.sidebar__header:hover {
    background-color: #350D36;
}

.sidebar__header > h3 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.sidebar__header > h3 > .MuiSvgIcon-root {
    font-size: 16px;
}


.sidebar__header > .MuiSvgIcon-root {
    background-color: white;
    border-radius: 50%;
    padding: 8px;
    font-size: 40px;
    cursor: pointer;
}

.sidebar > hr {
    border: 1px solid rgb(82,38,83);
}

/* @media (max-width: 768px) {
    .sidebar {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -100%;
    }
} */